{% extends 'main.html' %}
{% load static %}
{% block content %}
    <style>
        .center {
            margin: auto;
            width: 80%;
            height: auto;
            border: 3px solid #73AD21;
            padding: 10px;
        }

        .a {
            display: inline-block;
            margin-right: auto;
            max-height: 100px;
            width: 250px;
            height: 50%;
            border: 3px solid #73AD21;
            padding: 10px;
        }

        .container {
            object-fit: cover;
            padding: 16px;
            background-color: white;
        }

        .clear {
            overflow: auto;
        }

        p {
            padding: 5px;
        }

        img {
            width: 50%;
            margin-right: 10px;
            float: left;

        }
    </style>
    <div class="center container" style="margin-top: 50px">
        <div class="a">
            <p class="clear" style="margin-top: 0px">
                <img src="{% static 'images/okul.jpg' %}" alt=""> Lorem ipsum
            </p>
        </div>
        <div class="a">
            <p class="clear" style="margin-top: 0px">
                <img src="{% static 'images/okul.jpg' %}" alt=""> Lorem ipsum
            </p>
        </div>
        <div class="a">
            <p class="clear" style="margin-top: 0px">
                <img src="{% static 'images/okul.jpg' %}" alt=""> Lorem ipsum
            </p>
        </div>
        <div class="a">
            <p class="clear" style="margin-top: 0px">
                <img src="{% static 'images/okul.jpg' %}" alt=""> Lorem ipsum
            </p>
        </div>
        <div class="a">
            <p class="clear" style="margin-top: 0px">
                <img src="{% static 'images/okul.jpg' %}" alt=""> Lorem ipsum
            </p>
        </div>
        <div class="a">
            <p class="clear" style="margin-top: 0px">
                <img src="{% static 'images/okul.jpg' %}" alt=""> Lorem ipsum
            </p>
        </div>
        <div class="a">
            <p class="clear" style="margin-top: 0px">
                <img src="{% static 'images/okul.jpg' %}" alt=""> Lorem ipsum
            </p>
        </div>
        <div class="a">
            <p class="clear" style="margin-top: 0px">
                <img src="{% static 'images/okul.jpg' %}" alt=""> Lorem ipsum
            </p>
        </div>
        <div class="a">
            <p class="clear" style="margin-top: 0px">
                <img src="{% static 'images/okul.jpg' %}" alt=""> Lorem ipsum
            </p>
        </div>
     <div class="a">
            <p class="clear" style="margin-top: 0px">
                <img src="{% static 'images/okul.jpg' %}" alt=""> Lorem ipsum
            </p>
        </div>
        <div class="a">
            <p class="clear" style="margin-top: 0px">
                <img src="{% static 'images/okul.jpg' %}" alt=""> Lorem ipsum
            </p>
        </div>
        <div class="a">
            <p class="clear" style="margin-top: 0px">
                <img src="{% static 'images/okul.jpg' %}" alt=""> Lorem ipsum
            </p>
        </div>
     <div class="a">
            <p class="clear" style="margin-top: 0px">
                <img src="{% static 'images/okul.jpg' %}" alt=""> Lorem ipsum
            </p>
        </div>
        <div class="a">
            <p class="clear" style="margin-top: 0px">
                <img src="{% static 'images/okul.jpg' %}" alt=""> Lorem ipsum
            </p>
        </div>
        <div class="a">
            <p class="clear" style="margin-top: 0px">
                <img src="{% static 'images/okul.jpg' %}" alt=""> Lorem ipsum
            </p>
        </div>


    </div>

{% endblock %}