{% extends 'clubs/SocialClubs.html' %}
{% load static %}

{% block content2 %}

    <div class="container-fluid h-100" style="background-color: #597eaa;border-radius: 1%;
    border: 2px solid black;min-height: 150px; max-height: 305px;overflow: auto">


        <a class="row bg-lightgray " style="height: 160px;margin-bottom: 5px; overflow: auto" href="#" >
            <img class="annauncement-img img-fluid" src="{% static 'images/facebook.png' %}" >
            <div class="annauncement-div">
                <h4 class="annauncement-header w-100" >Event Name</h4>
                <p class="annauncement-text w-100" >Event desc.</p>
                <p class="fa fa-calendar w-100">   time</p>
                <p class="fa fa-map-marker w-100">   location</p>
            </div>
        </a>
        <a class="row bg-lightgray " style="height: 160px;margin-bottom: 5px;overflow: auto" href="#" >
            <img class="annauncement-img img-fluid" src="{% static 'images/facebook.png' %}" >
            <div class="annauncement-div">
                <h4 class="annauncement-header w-100" >Event Name</h4>
                <p class="annauncement-text w-100" >Event desc.</p>
                <p class="fa fa-calendar w-100">   time</p>
                <p class="fa fa-map-marker w-100">   location</p>
            </div>
        </a>

    </div>

{% endblock %}