{% extends 'main.html' %}
{% load static %}
{% block content %}

    <!------ Include the above in your HEAD tag ---------->
    <style>
        .emp-profile{
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }
        .profile-img{
            text-align: center;
            width: 80%;
        }
        .profile-img img{
            width: 70%;
            height: 70%;
        }
        .profile-head h5{
            color: #333;
        }
        .profile-head h6{
            color: #0062cc;
        }
    </style>
    <div class="container emp-profile">

        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="http://kulupler.isikun.edu.tr/media/clubs_amblems/Bilgisayar_Kulubu.PNG" alt=""/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        FMV Işık University Computer Club
                    </h5>
                    <h6>
                        Club President : Bla Bla Bla
                    </h6>
                    <p >Advisor : Bla Bla Bla</p>
                    <p>Number of Club Members : 66</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-6">
                    <label>Club Vice President</label>
                </div>
                <div class="col-md-6">
                    <p>Ja Ja Ja</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Management Team Member1</label>
                </div>
                <div class="col-md-6">
                    <p>Algün Mandil</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Management Team Member2</label>
                </div>
                <div class="col-md-6">
                    <p>Berkay Gülşen</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Management Team Member3</label>
                </div>
                <div class="col-md-6">
                    <p>Canalp Cansever</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Management Team Member4</label>
                </div>
                <div class="col-md-6">
                    <p>Sıradan biri</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Management Team Member5</label>
                </div>
                <div class="col-md-6">
                    <p>Sıradan biri2</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Club Status</label>
                </div>
                <div class="col-md-6">
                    <p>Active</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}