{% extends 'clubs/SocialClubs.html' %}
{% load static %}

{% block content2 %}
    <div class="container-fluid h-100" style="background-color: #597eaa;border-radius: 1%;
    border: 2px solid black;min-height: 150px; max-height: 305px;overflow: auto">

        <button class="btn-add w-50 fa fa-plus " >   Add</button>

        <div class="card" style="height: 160px;margin-bottom: 5px; overflow: auto; background-color: #eee" href="#" >
            <h4 class="card-header"  style="color: darkblue">Discussion Header</h4>
            <div class="card-body">
                <p class="card-text">Event desc.</p>
                <div class="d-flex justify-content-between align-items-center mt-2">
                    <small class="text-muted">ends: 11/10/2021</small>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary btn-join">Join</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="card" style="height: 160px;margin-bottom: 5px; overflow: auto; background-color: #eee" href="#" >
            <h4 class="card-header"  style="color: darkblue">Discussion Header</h4>
            <div class="card-body">
                <p class="card-text">Event desc.</p>
                <div class="d-flex justify-content-between align-items-center mt-2">
                    <small class="text-muted">ends: 11/10/2021</small>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary btn-join">Join</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}