{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid " style="padding-top: 50px;padding-right: 10%; padding-left: 10%">
        <div class="row">
            <!-- My clubs / All Clubs -->
            <div class="col-md-3 " >
                    <!-- My clubs -->
                    <div class="card bg-lightgray" style="min-height: 50px; max-height: 300px;
                     width: 96%; margin: 2%; border: 2px double black">
                        <div class="card-header text-center mb-1" style="background-color: #597eaa">
                            <h5>My Clubs</h5>
                        </div>
                        <div class="card-body" style="overflow: auto">
                            <a class="card link-card mt-1 embed-responsive-16by9 my-club-events" href="#">
                                <div class="card-body">
                                    <img src="{% static 'images/facebook.png' %}" class="card-img w-15">
                                    <div class="card-text w-80" style="display: inline-block; float: right">
                                        <h3 class="">Club Name</h3>
                                    </div>

                                </div>
                            </a>
                            <a class="card link-card mt-1 embed-responsive-16by9 my-club-events" href="#">
                                <div class="card-body">
                                    <img src="{% static 'images/facebook.png' %}" class="card-img w-15">
                                    <div class="card-text w-80" style="display: inline-block; float: right">
                                        <h3 class="">Club Name</h3>
                                    </div>

                                </div>
                            </a>
                            <a class="card link-card mt-1 embed-responsive-16by9 my-club-events" href="#">
                                <div class="card-body">
                                    <img src="{% static 'images/facebook.png' %}" class="card-img w-15">
                                    <div class="card-text w-80" style="display: inline-block; float: right">
                                        <h3 class="">Club Name</h3>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- All clubs -->
                    <div class="bg-lightgray card" style="min-height: 50px; max-height: 300px;
                     width: 96%; margin: 2%; border: 2px double black ">
                        <div class="card-header text-center mb-1" style="background-color: #597eaa">
                            <h5>All Clubs</h5>
                        </div>

                        <div class="card-body h-75" style="overflow: auto">
                            <a class="card link-card mt-1 embed-responsive-16by9 my-club-events" href="#">
                                <div class="card-body">
                                    <img src="{% static 'images/facebook.png' %}" class="card-img w-15">
                                    <div class="card-text w-80" style="display: inline-block; float: right">
                                        <h3 class="">Club Name</h3>
                                    </div>

                                </div>
                            </a>
                            <a class="card link-card mt-1 embed-responsive-16by9 my-club-events" href="#">
                                <div class="card-body">
                                    <img src="{% static 'images/facebook.png' %}" class="card-img w-15">
                                    <div class="card-text w-80" style="display: inline-block; float: right">
                                        <h3 class="">Club Name</h3>
                                    </div>

                                </div>
                            </a>
                            <a class="card link-card mt-1 embed-responsive-16by9 my-club-events" href="#">
                                <div class="card-body">
                                    <img src="{% static 'images/facebook.png' %}" class="card-img w-15">
                                    <div class="card-text w-80" style="display: inline-block; float: right">
                                        <h3 class="">Club Name</h3>
                                    </div>

                                </div>
                            </a>
                           <a class="card link-card mt-1 embed-responsive-16by9 my-club-events" href="#">
                                <div class="card-body">
                                    <img src="{% static 'images/facebook.png' %}" class="card-img w-15">
                                    <div class="card-text w-80" style="display: inline-block; float: right">
                                        <h3 class="">Club Name</h3>
                                    </div>

                                </div>
                            </a>
                            <a class="card link-card mt-1 embed-responsive-16by9 my-club-events" href="#">
                                <div class="card-body">
                                    <img src="{% static 'images/facebook.png' %}" class="card-img w-15">
                                    <div class="card-text w-80" style="display: inline-block; float: right">
                                        <h3 class="">Club Name</h3>
                                    </div>

                                </div>
                            </a>
                        </div>

                    </div>
            </div>




            <!-- Clubs -->
            <div class="col-md-7">
                <div style="width: 100%; height: 600px;" id="maincontainer">
                    <div class="container-fluid h-100" style="background-color: #ddd; border-radius: 5%; border: 2px solid darkgrey">

                        <!-- Header -->
                        <div class="row h-30 overflow-auto" id="mainrow">
                            <!-- icon -->
                            <div class="col-lg-3 " style="overflow: auto">
                                <img src="{% static 'images/facebook.png' %}" class="icon img-fluid" >
                            </div>

                            <!--Name -->
                            <div class="col-lg-7 club-info">
                                <h2 style="margin-left: 20px">Club Name</h2>
                                <div style="line-height: normal">
                                    <p class="fa fa-envelope w-100"><a href="#" style="margin-left: 4px;">mail@gmail</a></p>
                                    <p class="fa fa-instagram w-100"><a href="#" style="margin-left: 4px">@instagram</a></p>
                                    <p> and others</p>
                                </div>
                            </div>


                            <!--Buttons -->
                            <div class="col-lg-2" style="padding-top: 10px">
                                <button class="btn-club fa fa-flag bg-danger" href="">   Report</button>
                                <button class="btn-club fa fa-search bg-info" href="">   Info</button>
                                <button class="btn-club fa fa-sign-in bg-success" href="">   Join</button>
                            </div>
                        </div>

                        <!-- Tabs -->
                        <div class="row h-10" style="padding-top: 10px; ">
                            <nav class="navbar navbar-expand navbar-dark h-80" aria-label="Second navbar example"
                            style="background-color: #597eaa; border-radius: 5px; border: 2px solid black;">
                                <div class="container-fluid w-100">
                                  <div class="collapse navbar-collapse" id="navbarsExample02">
                                    <ul class="navbar-nav me-auto w-100">
                                      <li class="nav-item active w-25">
                                        <a class="nav-link" aria-current="page" href="{% url 'announcement' %}">Announcements</a>
                                      </li>
                                      <li class="nav-item w-25">
                                        <a class="nav-link" href="{% url 'post' %}">Posts</a>
                                      </li>
                                        <li class="nav-item w-25">
                                        <a class="nav-link" href="{% url 'chat' %}">Chat</a>
                                      </li>
                                        <li class="nav-item w-25">
                                        <a class="nav-link" href="{% url 'survey' %}">Survey</a>
                                      </li>
                                        <li class="nav-item w-25">
                                        <a class="nav-link" href="{% url 'discussion' %}">Discussion</a></a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </nav>
                        </div>

                        <!-- contents -->
                        <div class="row social-content">
                            {% block content2 %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>






            <!-- Events -->
            <div class="col-md-2">
                <div class="card-mb-4 bg-lightgray mt-5" style="min-height: 50px; max-height: 450px;overflow: auto;
                     width: 96%; margin: 2%; border: 2px double black;">
                    <a class="card w-100 h-100" style="border: 2px double #aaa;">
                    <div class="card-header text-center" style="background-color: #597eaa">
                        <h5>Events</h5>
                    </div>

                    <a class="card link-card mt-1 mx-1 px-1 pt-1 pb-1 embed-responsive-16by9 my-club-events" href="#">
                        <img class="card-img-top w-100 bg-primary" height="80" src="{% static 'images/university_icon.png' %}">
                        <div class="card-text w-100 mx-2" style="line-height: normal; float: right; overflow: auto">
                            <ul class="no-bullets">
                                <li style="font-size: 50%"><h5>Event Name</h5></li>
                                <li>Event  Desc</li>
                                <li class="fa fa-calendar w-100" > time</li>
                                <li class="fa fa-map-marker w-100"> location</li>
                            </ul>
                        </div>
                    </a>

                    <a class="card link-card mx-1 px-1 pt-1 pb-1 embed-responsive-16by9 my-club-events" href="#">
                        <img class="card-img-top w-100 bg-primary" height="80" src="{% static 'images/university_icon.png' %}">
                        <div class="card-text w-100 mx-2" style="line-height: normal; float: right; overflow: auto">
                            <ul class="no-bullets">
                                <li style="font-size: 50%"><h5>Event Name</h5></li>
                                <li>Event  Desc</li>
                                <li class="fa fa-calendar w-100" > time</li>
                                <li class="fa fa-map-marker w-100"> location</li>
                            </ul>
                        </div>
                    </a>

                    <a class="card link-card mx-1 px-1 pt-1 pb-1 embed-responsive-16by9 my-club-events" href="#">
                        <img class="card-img-top w-100 bg-primary" height="80" src="{% static 'images/university_icon.png' %}">
                        <div class="card-text w-100 mx-2" style="line-height: normal; float: right; overflow: auto">
                            <ul class="no-bullets">
                                <li style="font-size: 50%"><h5>Event Name</h5></li>
                                <li>Event  Desc</li>
                                <li class="fa fa-calendar w-100" > time</li>
                                <li class="fa fa-map-marker w-100"> location</li>
                            </ul>
                        </div>
                    </a>
                </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}