{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid " style="padding-top: 50px;padding-right: 10%; padding-left: 10%">
        <div class="row">
            <!-- User Info -->
            <div class="col-md-3 pt-3 pb-3 h-100" >
                    <div class="card px-3 pt-3 pb-3 h-100 border-black">
                        <img src="{% static 'images/facebook.png' %}" class="card-image-top w-50 img-fluid"  style="margin: auto;">
                        <div class="card-body mt-3" style="background-color: #597eaa; overflow: auto">
                            <h3 class="card-header text-center">Name Surname</h3>
                            <div class="card-text ">
                                <ul style="font-size: 100%; line-height: 100%">
                                    <li>the other informations</li>
                                    <li>the other informations</li>
                                    <li>the other informations</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body" style="background-color: #597eaa">
                            <label for="usr">Reset Password:</label>
                            <div class="form-group">
                              <label for="usr">Password:</label>
                              <input type="password" class="form-control" id="pwd">
                            </div>
                            <div class="form-group">
                              <label for="pwd">rePassword:</label>
                              <input type="password" class="form-control" id="repwd">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success" style=" border: 2px solid black">Change</button>
                        </div>
                    </div>
            </div>




            <!-- user page -->
            <div class="col-md-5 h-100 px-3 pt-3 pb-3 mb-3">


                <div class="album pt-3 border-black" style="height: 625px;overflow: auto; background-color: #597eaa;">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="card mb-4 box-shadow">
                        <h4 class="card-header">Club Name</h4>
                        <a href="#"><img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1769052e4a2%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1769052e4a2%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.828125%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true"></a>
                        <div class="card-body">
                          <p class="card-text">Post Desc.</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="card mb-4 box-shadow">
                        <h4 class="card-header">Club Name</h4>
                        <a href="#"><img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1769052e4a2%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1769052e4a2%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.828125%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true"></a>
                        <div class="card-body">
                          <p class="card-text">Post Desc.</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="card mb-4 box-shadow">
                        <h4 class="card-header">Club Name</h4>
                        <a href="#"><img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1769052e4a2%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1769052e4a2%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.828125%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true"></a>
                        <div class="card-body">
                          <p class="card-text">Post Desc.</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="card mb-4 box-shadow">
                        <h4 class="card-header">Club Name</h4>
                        <a href="#"><img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1769052e4a2%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1769052e4a2%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.828125%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true"></a>
                        <div class="card-body">
                          <p class="card-text">Post Desc.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card mb-4 box-shadow">
                        <h4 class="card-header">Club Name</h4>
                        <a href="#"><img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1769052e4a2%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1769052e4a2%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.828125%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true"></a>
                        <div class="card-body">
                          <p class="card-text">Post Desc.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card mb-4 box-shadow">
                        <h4 class="card-header">Club Name</h4>
                        <a href="#"><img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1769052e4a2%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1769052e4a2%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.828125%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true"></a>
                        <div class="card-body">
                          <p class="card-text">Post Desc.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>






            <!-- Events -->
            <div class="col-md-4  h-100 pt-3 pb-3 px-3 ">
                <div class="card border-black" style="min-height: 50px; max-height: 300px;overflow: auto;">
                    <div class="card-header text-center mb-1" style="background-color: #597eaa">
                        <h5>My Clubs' Events</h5>
                    </div>

                    <div class="card-body h-75" style="overflow: auto">
                            <a class="card link-card mt-2 my-club-events" href="#">
                                <div class="card-body">
                                    <img src="{% static 'images/facebook.png' %}" class="card-img w-15">
                                    <div class="card-text w-80" style="display: inline-block; float: right">
                                        <ul class="no-bullets">
                                            <li class="px-5"><h5>Event Name</h5></li>
                                            <li>Event  Desc</li>
                                            <li class="fa fa-calendar w-100" > time</li>
                                            <li class="fa fa-map-marker w-100"> location</li>
                                        </ul>
                                    </div>

                                </div>
                            </a>
                            <a class="card link-card mt-2 my-club-events" href="#">
                                <div class="card-body">
                                    <img src="{% static 'images/facebook.png' %}" class="card-img w-15">
                                    <div class="card-text w-80" style="display: inline-block; float: right">
                                        <ul class="no-bullets">
                                            <li class="px-5"><h5>Event Name</h5></li>
                                            <li>Event  Desc</li>
                                            <li class="fa fa-calendar w-100" > time</li>
                                            <li class="fa fa-map-marker w-100"> location</li>
                                        </ul>
                                    </div>

                                </div>
                            </a>
                             <a class="card link-card mt-2 my-club-events" href="#">
                                <div class="card-body">
                                    <img src="{% static 'images/facebook.png' %}" class="card-img w-15">
                                    <div class="card-text w-80" style="display: inline-block; float: right">
                                        <ul class="no-bullets">
                                            <li class="px-5"><h5>Event Name</h5></li>
                                            <li>Event  Desc</li>
                                            <li class="fa fa-calendar w-100" > time</li>
                                            <li class="fa fa-map-marker w-100"> location</li>
                                        </ul>
                                    </div>

                                </div>
                            </a>
                    </div>


            </div>
                <!-- calendar -->
                <div class="mt-3 border-black" style="height: 300px; overflow: hidden;">
                    {% include 'clubs/calendar.html' %}
                </div>



        </div>
    </div>
{% endblock %}